*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// base

body {
  min-height: 100vh;
  padding: 0 0.5em;
  background-color: #ffc82e;
  max-width: 40em;
  margin: auto auto;
}

ul {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Cabin;
  src: url('fonts/Cabin.ttf') format('truetype');
}

@font-face {
  font-family: Baloo;
  src: url('fonts/Baloo.ttf') format('truetype');
}

// utils

.flow > * + * {
  margin-top: 0.75rem;
}

// components

.header {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90%;
}

.brand {
  text-transform: uppercase;
}


.field {
  display: flex;
  margin-top: 0.5em;
}

.qr-form {
  padding: 0 2em;
}

.field__label {
  font-family: Cabin;
  font-size: 1.375rem;
  width: 35%;
}

.field__control {
  width: 60%;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 1.375rem;
  font-family: Baloo;

  &[readonly] {
    font-family: Cabin;
  }
}

.banks {
  padding: 0 1.6em;
  font-family: Baloo;
  font-size: 1.375rem;

  li {
    margin-top: 1.2em;
  }

  li > div {
    display: flex;
  }

  .bank-name {
    width: 40%;
    padding-right: 1em;
  }

  .bank-number {
    width: 60%;
  }
}

.qr {
  display: grid;
  grid-template:
    "brand info" auto
    "image info" auto
    / 1fr 2fr;

  .qr-brand {
    grid-area: brand;
  }

  .qr-image {
    grid-area: image;
  }

  .qr-info {
    grid-area: info;
  }

  .qr-info {
    margin-left: 1.4em;
    font-family: Cabin;
  }

  .qr-brand {
    margin-left: 0.5em;
    max-height: 2em;
  }

  .qr-image {
    margin-top: 0.5em;
    display: block;
  }
}
